{% extends 'basepage/base.html' %}

{% block content %}

<section>
<!--  		<div id="carousel" class="carousel slide container">-->
<!--		  <div class="carousel-inner">-->
			{% for slide in slides %}
		    <div class="carousel-item {{ slide }}">
<!--		      <img src="{{ slide.cms_img.url }}" class="d-block w-100"  alt="...">-->
<!--		      <div class="carousel-caption d-none d-md-block">-->
<!--		        <h5 class="slaider_h">{{ slide.cms_title }}</h5>-->
<!--		        <p class="slaider_p">{{ slide.cms_text }}</p>-->
			    <ul>
				    <li><h1>"BUBUBUBUBUB" {{ slide }}</h1></li>
			    </ul>
		      </div>
		    </div>
		    {% endfor %}
<!--		  </div>-->
<!--		  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">-->
<!--		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--		    <span class="sr-only">Previous</span>-->
<!--		  </a>-->
<!--		  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">-->
<!--		    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--		    <span class="sr-only">Next</span>-->
<!--		  </a>-->
<!--		</div>-->
  	</section>

{% endblock content %}